<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.shop.mapper.SkuPropertyMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.shop.domain.SkuProperty">
    <id column="id" property="id" />
    <result column="catalog_id" property="catalogId" />
    <result column="name" property="name" />
    <result column="type" property="type" />
    <result column="sort" property="sort" />
    <collection column="id" ofType="cn.wolfcode.shop.domain.SkuPropertyValue" property="values" select="cn.wolfcode.shop.mapper.SkuPropertyValueMapper.selectByPropertyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from sku_property
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into sku_property (catalog_id, name, type, sort)
    values (#{catalogId}, #{name}, #{type}, #{sort})
  </insert>
  <update id="updateByPrimaryKey">
    update sku_property
    set catalog_id = #{catalogId},
      name = #{name},
      type = #{type},
      sort = #{sort}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, catalog_id, name, type, sort
    from sku_property
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, catalog_id, name, type, sort
    from sku_property
  </select>
  <select id="queryByCataId" resultMap="BaseResultMap">
    select id, catalog_id, name, type, sort
    from sku_property where catalog_id = #{catalogId}
  </select>
  <select id="queryPropertiesByCatalogId" resultMap="BaseResultMap">
    select id, catalog_id, name, type, sort
    from sku_property where catalog_id = #{catalogId}
  </select>
  <select id="selectByProductId" resultMap="BaseResultMap">
    select distinct
    sp.id,
    sp.name
    from sku_property sp
    join product_sku_property sps on sp.id = sps.sku_property_id
    join product_sku ps on ps.id = sps.product_sku_id
    where ps.product_id = #{productId}
  </select>
</mapper>